USE [master]
GO
/****** Object:  Database [Equity]    Script Date: 20-09-2025 14:55:04 ******/
CREATE DATABASE [Equity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Equity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VINAY\MSSQL\DATA\Equity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Equity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VINAY\MSSQL\DATA\Equity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Equity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Equity]
GO
/****** Object:  Table [dbo].[TORDER_TYPE]    Script Date: 20-09-2025 14:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TORDER_TYPE](
	[ID_ORDER_TYPE] [int] NOT NULL,
	[TXT_ORDER_TYPE] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 20-09-2025 14:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[ID_TRANSACTION] [int] IDENTITY(1,1) NOT NULL,
	[ID_TRADE] [int] NOT NULL,
	[NUM_VERSION] [int] NOT NULL,
	[CDE_SYMBOL] [varchar](50) NOT NULL,
	[NUM_QTY] [bigint] NOT NULL,
	[TYP_ACTION] [char](1) NOT NULL,
	[ID_ORDER_TYPE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TORDER_TYPE] ([ID_ORDER_TYPE], [TXT_ORDER_TYPE]) VALUES (1, N'Buy')
INSERT [dbo].[TORDER_TYPE] ([ID_ORDER_TYPE], [TXT_ORDER_TYPE]) VALUES (2, N'Sell')
GO
SET IDENTITY_INSERT [dbo].[TRANSACTIONS] ON 

INSERT [dbo].[TRANSACTIONS] ([ID_TRANSACTION], [ID_TRADE], [NUM_VERSION], [CDE_SYMBOL], [NUM_QTY], [TYP_ACTION], [ID_ORDER_TYPE]) VALUES (3, 1, 1, N'REL', 50, N'I', 1)
INSERT [dbo].[TRANSACTIONS] ([ID_TRANSACTION], [ID_TRADE], [NUM_VERSION], [CDE_SYMBOL], [NUM_QTY], [TYP_ACTION], [ID_ORDER_TYPE]) VALUES (4, 2, 1, N'ITC', 40, N'I', 2)
INSERT [dbo].[TRANSACTIONS] ([ID_TRANSACTION], [ID_TRADE], [NUM_VERSION], [CDE_SYMBOL], [NUM_QTY], [TYP_ACTION], [ID_ORDER_TYPE]) VALUES (5, 3, 1, N'INF', 70, N'I', 1)
SET IDENTITY_INSERT [dbo].[TRANSACTIONS] OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTransactions]    Script Date: 20-09-2025 14:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTransactions]	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT T.ID_TRANSACTION, ID_TRADE, NUM_VERSION, CDE_SYMBOL, NUM_QTY, TYP_ACTION, TOT.TXT_ORDER_TYPE FROM TRANSACTIONS(NOLOCK) T
	INNER JOIN TORDER_TYPE(NOLOCK) TOT ON T.ID_ORDER_TYPE = TOT.ID_ORDER_TYPE
	ORDER BY ID_TRANSACTION  , NUM_VERSION

END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTransaction]    Script Date: 20-09-2025 14:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertTransaction]
	@ID_TRADE INT,
	@NUM_VERSION INT,
	@CDE_SYMBOL VARCHAR(50),
	@NUM_QTY BIGINT,
	@TYP_ACTION CHAR(1),
	@ID_ORDER_TYPE INT
AS
BEGIN
	
    BEGIN TRY
        BEGIN TRANSACTION

        INSERT INTO TRANSACTIONS
        (
            ID_TRADE,
            NUM_VERSION, 
            CDE_SYMBOL, 
            NUM_QTY, 
            TYP_ACTION, 
            ID_ORDER_TYPE
        )
        VALUES
        (
            @ID_TRADE,  
            @NUM_VERSION, 
            @CDE_SYMBOL, 
            @NUM_QTY, 
            @TYP_ACTION, 
            @ID_ORDER_TYPE
        )

        COMMIT TRANSACTION		
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY()
        RAISERROR(@ErrMsg, @ErrSeverity, 1)
    END CATCH
	

END

GO
USE [master]
GO
